/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
    overflow: auto;
    width: 100%;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/* End normalize
   ========================================================================== */

body{
    background-color: #eee;
    font-family: 'Prompt', sans-serif, Tahoma;
}

h1 {
    background-color: #333;
    color: #fff;
    margin-top: 0px;
    padding: 0.67em;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.15);
}

h1 > small {
    font-size: 60%;
}

h1, h2 {
    text-align: center;
}

h2 {
    font-weight: 300;
}

h3 {
    margin-top: 15px;
    margin-bottom: 0px;
}

h1 > a {
    color: #fff;
    text-decoration: none;
}

pre, code, textarea {
    font-family: 'Ubuntu Mono', monospace;
    overflow: auto;
}

button {
    border: 1px solid #cdddcd;
    border-radius: 4px;
    padding: 8px 24px;
    background-color: #efffef;
    cursor: pointer;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    transition: all 0.2s ease-out;
}

button:hover {
    background-color: #efffff;
}

button.close {
    float: right;
    border: 2px solid transparent;
    background-color: transparent;
    box-shadow: none;
    padding: 4px;
    padding-bottom: 0;
    margin: 12px 0px;
}

button.close:hover {
    color: #666;
}

button.close:active {
    border: 2px solid #666;
    background-color: #efefef;
}

input, textarea, select {
    border: 1px solid #ddddcd;
    background-color: #ffffef;
    margin: 5px 0px;
    padding: 5px 10px;
    min-width: 400px;
    box-sizing:border-box;
    height: 36px;
}

textarea {
    padding: 10px;
    height: 360px;
    max-width: 100%;
}

code {
    color: #66f;
}

table {
    border-collapse: collapse;
    padding: 0 10px;
    width: 100%;
}

thead, tbody {
    vertical-align: middle;
}

table thead th {
    border-bottom: 1px solid rgba(59,65,81,.2);
    text-align: left;
    font-size: small;
    font-weight: normal;
}

table tbody td {
    padding: 10px 0 0;
    vertical-align: top;
}

table tbody tr td:first-of-type {
    min-width: 10em;
}

table tbody tr td:last-of-type {
    margin-bottom: 2em;
    width: 99%;
}

table tbody tr.required td > strong::after {
    color: red;
    content: '* required';
    font-size: x-small;
    padding: 5px;
    position: relative;
    top: -4px;
}

.text-end {
    text-align: right!important;
}

.float-end {
    float: right !important;
}

.header-button {
    color: #fff;
    margin: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.container {
    padding: 20px;
}

button.endpoint {
    background-color: #ddd;
    border: 1px solid #ddd;
    margin: 0px;
    margin-top: 18px;
    padding: 12px;
    font-family: 'Lucida Console';
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

button.endpoint span.method {
    display: inline-block;
    border-radius: 3px;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    min-width: 80px;
    padding: 6px 15px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
}

button.endpoint span.method.get {
    background-color: #61affe;
}

button.endpoint span.method.post {
    background-color: #49cc90;
}

button.endpoint span.method.put {
    background-color: #fca130;
}

button.endpoint span.method.delete {
    background-color: #f93e3e;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
}


button.endpoint:hover {
    background-color: #e5e619;
    box-shadow: rgba(255, 255, 0, 0.4) 0px 5px 12px 0px;
    border: 1px solid #d7d350;
}

button.endpoint.active {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: rgba(149, 157, 165, 0.0) 0px 0px 0px;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0px 18px;
    background-color: white;
    overflow: auto;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
  margin-top: 8px;
}

.collapsible.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.content .content-margin {
    padding: 18px 0px;
}

.content .content-margin.error {
    color: red;
}

.content .content-margin.response-container {
    border-top: 1px solid #ddd;
    position: relative;
    padding-top: 0px;
}

.spin-container {
    min-height: 100px;
    display: none;
    position: relative;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.spin-container .spin::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

.justify-content-end {
    justify-content: flex-end !important;
}

.nav{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-link:focus, .nav-link:hover {
    color: #0a58ca;
}

.container .block {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    margin-bottom: 20px;
}

.container .block pre{
    margin-left: 40px;
    color: #fff;
    background-color: #333;
    padding: 10px;
}
