# Using glob syntax
syntax: glob

# Build artifacts
**/.vs
**/CMakeFiles
**/bin/Debug*
**/bin/Release*
**/obj
#**/x64
#**/x86
/bin
build/*
packages/*

# Ignored files and folders
!paket.exe
**/CMakeFiles
*.FileListAbsolute.txt
*.aux
*.bi
*.cache
*.class
*.ent
*.idb
*.idea
*.ipch
*.lastbuildstate
*.lic
*.log
*.metadata
*.nav
*.ncrunchproject
*.ncrunchsolution
*.obj
*.opensdf
*.orig
*.out
*.pch
*.pdb
*.png
*.pyd
*.received.*
*.sdf
*.snm
*.stackdump
*.suo
*.svg
*.synctex.gz
*.tlog
*.toc
*.unsuccessfulbuild
*.user
*.userprefs
*.vshost.*
*VC.db
*VC.opendb
.DS_Store
CMakeCache.txt
Makefile
_NCrunch_*
_ReSharper*
cmake_install.cmake
testCaseCollection.xml

# Using regexp syntax
syntax: regexp
