# Using glob syntax
syntax: glob

!paket.exe
**/.vs
**/CMakeFiles
**/_NCrunch_*
**/_ReSharper*
**/bin
**/obj
**/x64
**/x86
*.FileListAbsolute.txt
*.aux
*.bi
*.cache
*.class
*.ent
*.idb
*.idea
*.ipch
*.lastbuildstate
*.lic
*.log
*.metadata
*.nav
*.ncrunchproject
*.ncrunchsolution
*.obj
*.opensdf
*.orig
*.out
*.pch
*.pdb
*.png
*.pyd
*.received.*
*.sdf
*.snm
*.stackdump
*.suo
*.svg
*.synctex.gz
*.tlog
*.toc
*.unsuccessfulbuild
*.user
*.userprefs
*.vshost.*
*VC.db
*VC.opendb
.DS_Store
CMakeCache.txt
Makefile
cmake_install.cmake
testCaseCollection.xml

# Using regexp syntax
syntax: regexp
