<h3>In any state</h3>

<button type="button" class="endpoint collapsible">
<span class="method get">GET</span>
<span>/api/state</span>
</button>
<div class="content">
<div class="content-margin">Gets the current state of this server instance.</div>
<div class="content-margin text-end">
    <button type="button" onclick="new DotcppClient(this).runRequest('GET', '/api/state')">
        Try this endpoint
    </button>
</div>
</div>
