<h3>In <strong>Idle</strong> state</h3>

<button type="button" class="endpoint collapsible">
<span class="method get">GET</span>
<span>/api/build</span>
</button>
<div class="content">
<div class="content-margin">Run the <code>build</code> command. Optionally a configuration name can be passed.</div>
<div class="content-margin">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr class="optional">
                <td>
                    <strong>configuration</strong>
                </td>
                <td>
                    <p>Name of the configuration.</p>
                    <input class="request-parameter" type="text" name="configuration" placeholder="configuration" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="content-margin text-end">
    <button type="button" onclick="new DotcppClient(this).runRequest('GET', '/api/build')">
        Try this endpoint
    </button>
</div>
</div>

<button type="button" class="endpoint collapsible">
<span class="method get">GET</span>
<span>/api/clean</span>
</button>
<div class="content">
<div class="content-margin">Run the <code>clean</code> command. Optionally a configuration name can be passed.</div>
<div class="content-margin">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr class="optional">
                <td>
                    <strong>configuration</strong>
                </td>
                <td>
                    <p>Name of the configuration.</p>
                    <input class="request-parameter" type="text" name="configuration" placeholder="configuration" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="content-margin text-end">
    <button type="button" onclick="new DotcppClient(this).runRequest('GET', '/api/clean')">
        Try this endpoint
    </button>
</div>
</div>

<button type="button" class="endpoint collapsible">
<span class="method get">GET</span>
<span>/api/test</span>
</button>
<div class="content">
<div class="content-margin">Run the <code>test</code> command.</div>
<div class="content-margin text-end">
    <button type="button" onclick="new DotcppClient(this).runRequest('GET', '/api/test')">
        Try this endpoint
    </button>
</div>
</div>

<button type="button" class="endpoint collapsible">
<span class="method get">GET</span>
<span>/api/configurations</span>
</button>
<div class="content">
<div class="content-margin">Gets all configurations from the cmake project.</div>
<div class="content-margin text-end">
    <button type="button" onclick="new DotcppClient(this).runRequest('GET', '/api/configurations')">
        Try this endpoint
    </button>
</div>
</div>

<button type="button" class="endpoint collapsible">
<span class="method get">GET</span>
<span>/api/configurations/{configuration}/targets</span>
</button>
<div class="content">
<div class="content-margin">Gets all targets from the given configuration in the cmake project,</div>
<div class="content-margin">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr class="required">
                <td>
                    <strong>configuration</strong>
                </td>
                <td>
                    <p>Name of the configuration.</p>
                    <input class="request-parameter" type="text" name="configuration" placeholder="configuration" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="content-margin text-end">
    <button type="button" onclick="new DotcppClient(this).runRequest('GET', '/api/configurations/{configuration}/targets')">
        Try this endpoint
    </button>
</div>
</div>

<button type="button" class="endpoint collapsible">
<span class="method post">POST</span>
<span>/api/configurations/{configuration}/targets</span>
</button>
<div class="content">
<div class="content-margin">Adds a target to the current configuration.</div>
<div class="content-margin">
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr class="required">
            <td>
                <strong>configuration</strong>
            </td>
            <td>
                <p>Name of the configuration.</p>
                <input class="request-parameter" type="text" name="configuration" placeholder="configuration" />
            </td>
        </tr>
        <tr class="required">
            <td>
                <strong>body</strong>
            </td>
            <td>
                <p>target object to add.</p>
                <textarea class="request-parameter" name="body" rows="12"></textarea>
            </td>
        </tr>
    </tbody>
</table>
</div>
<div class="content-margin text-end">
    <button type="button" onclick="new DotcppClient(this).runRequest('POST', '/api/configurations/{configuration}/targets')">
        Try this endpoint
    </button>
</div>
</div>

<button type="button" class="endpoint collapsible">
<span class="method get">GET</span>
<span>/api/configurations/{configuration}/targets/{target}/files</span>
</button>
<div class="content">
<div class="content-margin">Gets all files from target under given configuration.</div>
<div class="content-margin">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr class="required">
                <td>
                    <strong>configuration</strong>
                </td>
                <td>
                    <p>Name of the configuration.</p>
                    <input class="request-parameter" type="text" name="configuration" placeholder="configuration" />
                </td>
            </tr>
            <tr class="required">
                <td>
                    <strong>target</strong>
                </td>
                <td>
                    <p>Name of the target.</p>
                    <input class="request-parameter" type="text" name="target" placeholder="target" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="content-margin text-end">
    <button type="button" onclick="new DotcppClient(this).runRequest('GET', '/api/configurations/{configuration}/targets/{target}/files')">
        Try this endpoint
    </button>
</div>
</div>

<button type="button" class="endpoint collapsible">
<span class="method get">GET</span>
<span>/api/configurations/{configuration}/targets/{target}/files/{file}</span>
</button>
<div class="content">
<div class="content-margin">Gets a file of the target under given configuration.</div>
<div class="content-margin">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr class="required">
                <td>
                    <strong>configuration</strong>
                </td>
                <td>
                    <p>Name of the configuration.</p>
                    <input class="request-parameter" type="text" name="configuration" placeholder="configuration" />
                </td>
            </tr>
            <tr class="required">
                <td>
                    <strong>target</strong>
                </td>
                <td>
                    <p>Name of the target.</p>
                    <input class="request-parameter" type="text" name="target" placeholder="target" />
                </td>
            </tr>
            <tr class="required">
                <td>
                    <strong>file</strong>
                </td>
                <td>
                    <p>Relative path and name of the file.</p>
                    <input class="request-parameter" type="text" name="file" placeholder="file" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="content-margin text-end">
    <button type="button" onclick="new DotcppClient(this).runRequest('GET', '/api/configurations/{configuration}/targets/{target}/files/{file}')">
        Try this endpoint
    </button>
</div>
</div>

<button type="button" class="endpoint collapsible">
<span class="method post">POST</span>
<span>/api/configurations/{configuration}/targets/{target}/files</span>
</button>
<div class="content">
<div class="content-margin">Add a new file to the target under given configuration.</div>
<div class="content-margin">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr class="required">
                <td>
                    <strong>configuration</strong>
                </td>
                <td>
                    <p>Name of the configuration.</p>
                    <input class="request-parameter" type="text" name="configuration" placeholder="configuration" />
                </td>
            </tr>
            <tr class="required">
                <td>
                    <strong>target</strong>
                </td>
                <td>
                    <p>Name of the target.</p>
                    <input class="request-parameter" type="text" name="target" placeholder="target" />
                </td>
            </tr>
            <tr class="required">
                <td>
                    <strong>newfile</strong>
                </td>
                <td>
                    <p>Relative path and name of the new file.</p>
                    <input class="request-parameter" type="text" name="newfile" placeholder="newfile" />
                </td>
            </tr>
            <tr class="required">
                <td>
                    <strong>body</strong>
                </td>
                <td>
                    <p>file object to add.</p>
                    <textarea class="request-parameter" name="body" rows="12"></textarea>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="content-margin text-end">
    <button type="button" onclick="new DotcppClient(this).runRequest('POST', '/api/configurations/{configuration}/targets/{target}/files')">
        Try this endpoint
    </button>
</div>
</div>

<button type="button" class="endpoint collapsible">
<span class="method put">PUT</span>
<span>/api/configurations/{configuration}/targets/{target}/files/{file}</span>
</button>
<div class="content">
<div class="content-margin">Update a file of the target under given configuration.</div>
<div class="content-margin">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr class="required">
                <td>
                    <strong>configuration</strong>
                </td>
                <td>
                    <p>Name of the configuration.</p>
                    <input class="request-parameter" type="text" name="configuration" placeholder="configuration" />
                </td>
            </tr>
            <tr class="required">
                <td>
                    <strong>target</strong>
                </td>
                <td>
                    <p>Name of the target.</p>
                    <input class="request-parameter" type="text" name="target" placeholder="target" />
                </td>
            </tr>
            <tr class="required">
                <td>
                    <strong>file</strong>
                </td>
                <td>
                    <p>Relative path and name of the file.</p>
                    <input class="request-parameter" type="text" name="file" placeholder="file" />
                </td>
            </tr>
            <tr class="required">
                <td>
                    <strong>body</strong>
                </td>
                <td>
                    <p>file object to update.</p>
                    <textarea class="request-parameter" name="body" rows="12"></textarea>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="content-margin text-end">
    <button type="button" onclick="new DotcppClient(this).runRequest('PUT', '/api/configurations/{configuration}/targets/{target}/files/{file}')">
        Try this endpoint
    </button>
</div>
</div>

<button type="button" class="endpoint collapsible">
<span class="method delete">DELETE</span>
<span>/api/configurations/{configuration}/targets/{target}/files/{file}</span>
</button>
<div class="content">
<div class="content-margin">Delete a file from the target under given configuration.</div>
<div class="content-margin">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr class="required">
                <td>
                    <strong>configuration</strong>
                </td>
                <td>
                    <p>Name of the configuration.</p>
                    <input class="request-parameter" type="text" name="configuration" placeholder="configuration" />
                </td>
            </tr>
            <tr class="required">
                <td>
                    <strong>target</strong>
                </td>
                <td>
                    <p>Name of the target.</p>
                    <input class="request-parameter" type="text" name="target" placeholder="target" />
                </td>
            </tr>
            <tr class="required">
                <td>
                    <strong>file</strong>
                </td>
                <td>
                    <p>Relative path and name of the file.</p>
                    <input class="request-parameter" type="text" name="file" placeholder="file" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="content-margin text-end">
    <button type="button" onclick="new DotcppClient(this).runRequest('POST', '/api/configurations/{configuration}/targets/{target}/files/{file}')">
        Try this endpoint
    </button>
</div>
</div>
</div>
</body>
</html>
