<h3>In <strong>EmptyFolder</strong> state</h3>

<button type="button" class="endpoint collapsible">
<span class="method get">GET</span>
<span>/api/templates</span>
</button>
<div class="content">
<div class="content-margin">Gets the list of templates currently available</div>
<div class="content-margin text-end">
    <button type="button" onclick="new DotcppClient(this).runRequest('GET', '/api/templates')">
        Try this endpoint
    </button>
</div>
</div>

<button type="button" class="endpoint collapsible">
<span class="method post">POST</span>
<span>/api/new-project</span>
</button>
<div class="content">
<div class="content-margin">Creates a new cmake project in the empty folder. This needs a template name as parameter.</div>
<div class="content-margin">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr class="required">
                <td>
                    <strong>template</strong>
                </td>
                <td>
                    <p>Name of the template.</p>
                    <input class="request-parameter" type="text" name="template" placeholder="template" />
                </td>
            </tr>
            <tr class="optional">
                <td>
                    <strong>name</strong>
                </td>
                <td>
                    <p>Name of new project.</p>
                    <input class="request-parameter" type="text" name="name" placeholder="name" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="content-margin text-end">
    <button type="button" onclick="new DotcppClient(this).runRequest('POST', '/api/new-project')">
        Try this endpoint
    </button>
</div>
</div>
